<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>Bookshop Web Application</display-name>

    <!-- Servlet definitions -->
    <servlet>
        <servlet-name>BookshopServlet</servlet-name>
        <servlet-class>org.evpro.bookshopV4.servlet.BookshopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>org.evpro.bookshopV4.servlet.UserServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>TestLogServlet</servlet-name>
        <servlet-class>org.evpro.bookshopV4.servlet.TestLogServlet</servlet-class>
    </servlet>

    <!-- Servlet mappings -->
    <servlet-mapping>
        <servlet-name>BookshopServlet</servlet-name>
        <url-pattern>/book/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/users/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>TestLogServlet</servlet-name>
        <url-pattern>/testlog/*</url-pattern>
    </servlet-mapping>


    <listener>
        <listener-class>org.evpro.bookshopV4.servlet.DatabaseInitializerListener</listener-class>
    </listener>


   <!-- Context parameters -->
    <context-param>
        <param-name>dbUrl</param-name>
        <param-value>jdbc:mysql://localhost:3306/bookshop_v4</param-value>
    </context-param>

    <!-- Session configuration -->
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

</web-app>